@font-face{
	font-family: Myfont;
	src: url(../html/msbolditalic.woff) format('woff');
}
*{
	box-sizing: border-box;
	font-family: Myfont;
	color: #e2e2e2;
	}
html,body{
	padding:0;
	margin:0;
	width: 100%;
	height: 100%;
	min-width: 960px;
	position: relative;
	background: -moz-linear-gradient(#3f0000 , #000000) fixed;
	background: linear-gradient(#3f0000 , #000000) fixed;
}

a
{
	color: #788CFF;
}
a *
{
	color: #788CFF;
}
a:visited
{
	color: #FF7F00;
}
a:visited *
{
	color: #FF7F00;
}
table
{
	word-break: normal;
}

img
{
	image-orientation: from-image;
}
input
{
	background-color: transparent;
	border: 3px solid #e2e2e2 ;
	box-shadow: 1px 0px 1.8px #e2e2e2;
}
button
{
	background-color: transparent;
	border: 3px solid #e2e2e2;
	box-shadow: 1px 0px 1.8px #e2e2e2;
}
figure
{
	display:inline-block;
	text-align: left;
	max-width: 400px;
	min-width: 400px;
}
figcaption
{
	display: block;
}
figure img
{
	max-width: 400px !important;
	max-height: 300px !important;
	display: block;
	margin: auto;
	width: 400px;
	height: 300px;
}
.rightaligned
{
	float: right;
}
.leftaligned
{
	float: left;
}
.header #techwiki
{
	font-style: italic;
	display:block;
	font-size: 105px; 
	margin-top:-6px; 
	padding-left: 12%;
}
.header
{
	overflow: hidden;
	width:100%;
	height: 110px;
	border-bottom: 4px solid #e2e2e2;
}
.header img 
{
	float:left;
	width:110px;
	height: 110px;
}
.page
{
	width: 100%;
	height: calc(100% - 110px);
	overflow:auto;
	display:table;
}
.pageRow
{
	display:table-row;
}


#sezione2.pageColumn
{
	height: auto;
	width: 100%;
}
#sezione2L.pageColumn
{
	width: 50%;
	height: auto;
}
#sezione2R.pageColumn
{
	height: auto;
	width: 50%;
}
#sezione1.pageColumn
{
	height: auto;
	width: 100%;	
}	

.pageColumn
{
	float:left;
	height: 100%;
	width: 76%;
	color: #e2e2e2;  
	font-size: 20px;
    word-break: normal;
    word-wrap: break-word;
	display:table-column;
	overflow: hidden;
}
#darkLeft.pageColumn
{
	background-color:black;
	width:12%;
	word-break: normal;
}
.vertical-menu a
{
	color: #e2e2e2;
	display: block;
	border-bottom: 4px solid #e2e2e2;
	text-decoration: none;
	padding: 7px 9px;
	font-size: 20px;
	transition: all 0.6s;
}
.vertical-menu a:hover
{
	background-color: #3f0000;
	transition: all 0.6s;
	cursor: pointer;
}

.vertical-menu a.active
{
	background-color: #e2e2e2;
	color: black;
}
#text.pageColumn
{
	border-left:4px solid #e2e2e2;
	border-right:4px solid #e2e2e2;
	padding: 7px 9px;
}
#text.pageColumn h1
{
	text-shadow: 5px 5px 5px 5px #e2e2e2;
	font-size: 30px;
	padding-bottom: 20px;
	padding-right: 20px;
	display: inline-block;
	box-shadow: 2px 2px 1px #e2e2e2;
}
#text.pageColumn h2
{
	font-size: 23px;

	box-shadow: 0px 2px 1px #e2e2e2;

}
#text.pagecolumn img
{
	max-width: 70%;
	max-height: 480px;
	box-shadow:3px 3px 7px 3px #e2e2e2;
}
#darkRight.pageColumn
{
	background-color:black;
	width:12%;
	word-break: normal;
}
.dropbtn
{
	background-color: #000000;
	font-size: 20px;
	padding: 7px 9px;
	height: auto;
}
.dropdown
{
	text-align: center;
}
.dropdown-content
{
	position: absolute;
	height: 0px;
	border-bottom: 4px solid #e2e2e2;
	width: 12%;
	overflow: hidden;
}
.dropdown-content a
{
	display: block;
	font-size: 20px;
}
.dropdown-content a:hover
{
	display: block;
	background-color: #3f0000;
	transition: all 0.6s;
}
.dropdown-content a:hover:after
{
	content: ' \00bb';
	transition: all 0.6s;
}
.dropdown:hover .dropdown-content
{
	display: block;
	transition: all 0.6s;
	height: auto;
}
.dropdown:hover .dropbtn
{
    background-color: #3f0000;
    transition: all 0.6s;
    border-bottom: none;
}
.dropdown:hover
{
	transition: all 0.6s;
	height: 86px;
}
.search
{
	text-align: center;
	margin-top: 7px;
	display: block;
}